.w-wrapper{
   color: white;
   font-family: serif;
   position: relative;
}

.btn{
   font-size: 1.2rem;
   padding: .6rem .8rem;
   border: none;
   cursor: pointer;
}

.btn:focus{
   background-color: orangered;
   color: white;
}

.fahren{
   position: absolute;
   top: 15%;
   left: 8%;
}

.celcius{
   position: absolute;
   top: 22%;
   left: 8%;
}
.w-header{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.w-location{
   margin: 0 ;
   font-size: 2.4rem;
   font-weight: 300;
   margin-left: -1rem;
   border-bottom: 2px solid #f4f2f2;
}

.w-icon{
   height: 13rem;
   width: 15rem;
}

.w-desc{
   margin-top: -1rem;
   font-size: 1.5rem;
   border-bottom: 2px solid #f4f2f2;
   font-weight: 100;
}

.w-temp{
   border-bottom: 2px solid #f4f2f2;
   font-size: 4rem;
   margin: 0;
   font-weight: 100;
}


.temp{
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 1.5rem;
   width: 70%;
   margin: 1rem 0;
}


.w-bottom{
   display: flex;
   justify-content: space-around;
   align-items: center;
   border-bottom: 2px solid #f4f2f2;
   padding: 1rem 0 ;
}

